# =========================
# IntelliJ
# =========================
.idea/
*.iml
*.iws
*.ipr


# =========================
# Maven
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar


# =========================
# Logs
# =========================
*.log
logs/


# =========================
# macOS
# =========================
.DS_Store


# =========================
# Environment files
# =========================
.env
.env.*
*.env


# =========================
# Spring Boot
# =========================
application-local.yml
application-dev.yml


# =========================
# Database
# =========================
*.sql


# =========================
# Node (future frontend)
# =========================
node_modules/
dist/
build/
